body{
    font-family: 'Cormorant', serif;
}

.mob-nav{
    display: flex;
    background-color: teal;
    width: 100%;
    height: 44px;
    flex-direction: column;
    align-content: center;
    color: white;
    z-index: 1;
}
.border-responsive{
    width: 100%;
}
/* .navigation{
    
    display: none;
} */
.nav-button{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0;  
    align-content: center;
    align-items: center;
    line-height: 44px;
}

.nav-button span{
    margin-left: 1em;
}

.nav-button i{
    margin-right: 0.5em;
    padding:0;
}

.nav-button i:hover .navigation{
    display: flex;
    margin: 0;
    display: flex;
    flex-direction: column;
}

/* .visibility:hover{
    display: none;
} */

.nav-menus{
    background-color: teal;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.nav-menus ul{
    display: flex;
    flex-direction: column;
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 99%;
    font-size: medium;
}

.menu-pages{
    color: rgb(29, 29, 29);
    padding-left: 0;
}

.menu-options{
    color: rgb(51, 51, 51); 
    margin: 0;
    padding-right: 0;
}

.nav-menus li{
    padding: 15px 1.5em;
    list-style-type: none;
    color: white;
}

@media(min-width:768px){
    .navigation{
        display: flex;    
        background-color: teal;
        width: 100%;
        height: 44px;
        justify-content: space-between;
        align-items: center;
        flex-direction: row;
    }
    
    .nav-menus{
        background-color: teal;
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 44px;
    }
    
    .nav-menus ul{
        display: flex;
        flex-direction: row;
        margin: auto;
        width: fit-content;
    }
    
    .menu-pages{
        color: rgb(29, 29, 29);
        margin: 0 1em;
        padding-left: 50px;
    }
    
    .menu-options{
        color: rgb(51, 51, 51); 
        margin: 0 1em;
        padding-right: 50px;
    }
    
    .nav-menus li{
        padding: 0 20px;
        list-style-type: none;
    }

    .nav-button{
        display:none;
        padding: 0px;
        
    }
    .border-responsive{
        display: none;
    }
    
}
