.my-s{
    margin: 10px 0 10px 0;
}

.my-m{
    margin: 20px 0 20px 0;
}
.my-l{
     margin: 40px 0 40px 0;
}
h1{
    font-weight: 800;
    text-align: center;
    color: rgb(53, 53, 53);
    /* font-weight: 700; */
}
h2{
    color: rgb(53, 53, 53);
    /* font-weight: 700; */
}

.container{
    margin: 0 85px;
    z-index: 0;
}

